/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../sitetheme/siteTheme.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
    /*  background: #41403e;*/
    /*color: #fe5f24 !important;
}*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url('../sitetheme/sitetheme.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*  background: #41403e;*/
    color: #fe5f24 !important;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.89);
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #fe5f24 !important;
        display: block;
    }

.main {
    margin-left: 160px;
    font-size: 28px;
    padding: 0px 10px;
}

.sidenav a:hover {
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
.th {
    color: #fe5f24 !important;
}
.td {
    color: #fe5f24 !important;
}