@model QuizWebApplication.Models.Dto.CategoryDto
@{
    ViewData["Title"] = "CreateCategory";
}

<h1>CreateCategory</h1>

<form method="post" asp-action="DeleteCategoryPost">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Dodawanie Kategorii</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-6">
                        <label asp-for="Description"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="Name"  class="form-control" />
                    </div>
                    <div class="col-6">
                        <input asp-for="Description"  class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-danger w-75" value="Usuń" />
                        </div>
                        <div class="col">
                            <a class="btn btn-success w-75" asp-action="GetCategories">Powrót</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</form>